@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$favColor: black;
$primaryfont: 'Inter', sans-serif;
$font-project-text: "Share Tech Mono", monospace;
$font-project-text-secondary: "Exo", sans-serif;
$primary-color-dark: #455a64;
$primary-color: #607d8b;
$primary-color-light: #cfd8dc;
$primary-color-text: #ffffff;
$accent-color: #009688;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
