@import 'variables';

.home-container {
  padding-top: 100px !important;
}
.about-me-card {
  width: 15rem !important;
}
#about-me-h1 {
  font-family: $headerFont !important;
}
.about-me-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto auto !important;
  padding: 20px !important;
}
.about-me-info-container {
  height: 50%;
}
