@import 'variables';

.single-project-container {
    font-size: 18px;
    font-family: $font-project-text-secondary;
}
.delete-modal {
   height: 10% !important;
}
.project-form-container {
    padding: 20px;
}
.project-inner-form-container {
    width: 75%;
    margin: 50px auto !important;
}
.project-form-title-input {
    width: 50% !important;
    margin: auto auto !important;
}
.single-project-content-container {
    margin: 30px;
}
