.App{
  color: white;
  background-color: inherit;
  text-align: center;
}
.auth-btn-container {
  margin-left: auto;
}
.menu-link:hover {
  background-color: rgb(27, 28, 29);
}
.menu-link {
  background-color: rgb(27, 28, 29);
}
.footer-icon:hover {
  color: rgba(255, 255, 255, .5)!important;
  transform: scale(1.2);
  transition: .5s!important;
}
